SERVER_ADDRESS=0.0.0.0:3000
DATABASE_URL=postgres://uptions:uptions@localhost:5432/uptions
POLYMARKET_GAMMA_HOST=https://gamma-api.polymarket.com
RESEND__KEY=
RESEND_FROM_EMAIL="uptions <onboarding@uptions.xyz>"
CREDENTIAL_ENCRYPTION_KEY=000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f
